registry=https://nexus.ejiexi.com/repository/npm/
always-auth=true

//nexus.ejiexi.com/repository/npm/:username=admin
//nexus.ejiexi.com/repository/npm/:_password=c200aFF2Um1UVnl5QVplUg==
//nexus.ejiexi.com/repository/npm/:email=npm@example.com

//nexus.ejiexi.com/repository/npm-hosted/:username=admin
//nexus.ejiexi.com/repository/npm-hosted/:_password=c200aFF2Um1UVnl5QVplUg==
//nexus.ejiexi.com/repository/npm-hosted/:email=npm@example.com

